.vs
/packages/
/TestResults/
/PokerTest/bin/
/PokerTest/obj/
/UnitTestPokerTest/bin/
/UnitTestPokerTest/obj/
/PokerGame.Models/bin/
/PokerGame.Models/obj/
/PokerGame.Services/bin/
/PokerGame.Services/obj/
